html {
    background-image:
      url(fondo.jpg);
    /* La imagen de fondo no
     * se repite en caso de
     * que sea más pequeña que
     * el elemento en que se
     * coloca. En este caso
     * html es la ventana. */
    background-repeat: no-repeat;
    /* La imagen de fondo se
     * muestra centrada
     * horizontalmente. */
    background-position-x:
      center;
    /* La imagen de fondo se
     * muestra centrada
     * verticalmente. */
    background-position-y:
      center;
    /* La imagen de fondo se
     * muestra fija y no se
     * desplaza. */
    background-attachment:
      fixed;
    /* Distintas propiedades
     * para distintos
     * navegadores indicando
     * que la imagen de fondo
     * tiene un tamaño que
     * cubre toda la ventana.
     */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }